.table {
  display: flex;
  justify-content: center;
  th {
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 0 1rem 0 1rem;
  }
  tr {
    height: 58px;
  }
  td {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  img {
    margin: auto;
  }
  img:hover {
    transform: scale(2.5);
  }
}

/* STYLE SECTION - styling table data elements */

#description div {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#date {
  width: 150px;
}

#icon {
  width: 50px;
}

#item div {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
